body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#query {
    width: 25vw;
    padding: 15px 20px;
    font-family: sans-serif;
    font-size: 1.2rem;
    color: var(--accent-1);
    border-radius: calc(20px + 0.6rem);
    border: none;
    outline: none;
    background-color: var(--bg-3);
    box-shadow: 0 0 5px 0 #00000030;
    transition: 0.2s all;
}
#query:active,
#query:focus {
    box-shadow: 0 0 5px 0 #000000A0;
    transition: 0.2s all;
}


#videos {
    display: flex;
    flex-direction: column;
}
#videos > div {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-3);
    box-shadow: 0 0 5px 0 #00000030;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}
#videos > div a {
    margin: 15px 0;
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--accent-1);
}
#videos > div button {
    margin: 10px auto;
    padding: 10px 20px;
    display: inline-block;
}


#loading {
    margin: 25px 0;
    font-family: sans-serif;
    font-size: 1.1rem;
    color: var(--accent-1);
}


#download-info #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#download-info #about a {
    margin: 20px 0;
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--accent-1);
}
#download-info #options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
#download-info #options > * {
    margin: 0 20px;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 1.1rem;
    color: var(--accent-1);
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--bg-3);
    box-shadow: 0 0 5px 0 #00000030;
    cursor: pointer;
}